/*===============
    Base styles
=================*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-color: #ccc;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #494949; }

/*===============
    Layouts styles
=================*/
#header {
  border-radius: 10px;
  padding: 10px; }

.container {
  margin: 45px 45px 0 45px; }

/*===============
    Modules styles
=================*/
.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .card-container .card {
    background: #eeeeee;
    -webkit-box-shadow: 0 5px 10px #494949;
    -ms-box-shadow: 0 5px 10px #494949;
    box-shadow: 0 5px 10px #494949;
    border-radius: 5px;
    height: auto;
    width: 25%;
    margin: 0 15px;
    padding: 0 15px; }
    .card-container .card .card-title {
      padding: 12px 25px;
      border-bottom: 1px solid #c4c4c4; }
    .card-container .card .card-content {
      padding: 25px; }
    .card-container .card .card-footer {
      padding: 12px 25px;
      border-top: 1px solid #c4c4c4; }

.title {
  margin: 15px; }

.color-scheme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff; }
  .color-scheme .accent {
    background: #494949;
    height: 200px;
    width: 33.33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .color-scheme .primary {
    background: #637382;
    height: 200px;
    width: 33.33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .color-scheme .secondary {
    background: #70b1d3;
    height: 200px;
    width: 33.33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

.buttons-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.button {
  padding: 25px;
  margin: 0 12px;
  width: 12.5%;
  border-radius: 3px; }

.button-blue {
  background: #007bff;
  color: #fff; }

.button-default {
  background: #6c757d;
  color: #fff; }

.button-success {
  background: #28a745;
  color: #fff; }

.button-danger {
  background: #dc3545;
  color: #fff; }

.button-warning {
  background: #ffc107;
  color: #fff; }

.button-info {
  background: #117a8b;
  color: #fff; }

.button-light {
  background: #dae0e5;
  color: #fff; }

.button-dark {
  background: #23272b;
  color: #fff; }

/*# sourceMappingURL=style.css.map */